html, body, button {
  color: #333;
  background-color: #f1f2f6;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Trebuchet MS, sans-serif;
  display: flex;
  overflow: hidden;
  user-select: none;
}

header {
  z-index: 1;
  padding: 0 2em;
  display: block;
  background-color: #2270AC;
  color: #fff;
  overflow: hidden;
  position: relative;
}
@media (max-width: 600px) {
  header {
    padding: 0 0.5em;
  }
}

header:before {
  content: "";
  position: absolute;
  top: -0.5em;
  left: -1em;
  width: 15em;
  height: 50em;
  background-image: url(./fig-2026.png);
  background-repeat: no-repeat;
  background-size: contain;
}
header h1 {
  font-size: 2em;
  margin: 0;
  padding: 0.5em 0;
  text-align: right;
}
header div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  font-weight: bold;
  background-color: #000;
  padding: 0.15em 1em;
  border-radius: 0.5em;
}

main {
  flex-direction: row;
  flex: 1;
  display: flex;
  z-index: 1;
}
main aside {
  position: absolute;
  right: 0;
  background-color: #fff;
  z-index: 1;
  background-color: transparent;
  padding: 0 0.5em;
  pointer-events: none;
}
main aside > button {
  pointer-events: all;
  display: block;
  width: 3.5em;
  height: 3.5em;
  overflow: hidden;
  border-radius: 50%;
  overflow: hidden;
  background-color: transparent;
  padding: 0;
  border: 0;
  box-shadow: 1px 1px 5px 0 #000;
  margin: 0.5em auto;
  box-sizing: border-box;
  background: #666;
}
main aside > button:first-child {
  width: 6em;
  height: 6em;
}
main aside > button.reseau {
  background-image: url(./roads.png);
  background-size: cover;
  background-position: center;
}
main aside > button.lidar {
  background-image: url(./cosia.png);
  background-size: cover;
  background-position: center;
}

main aside img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
main aside img:hover {
  transform: scale(1.2);
  z-index: 2;
}
body[data-img] aside img {
  transform: scale(1);
}

.backdrop {
  display: none;
}

[data-img] .backdrop {
  display: block;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 98;
}
body .zoom {
  position: fixed;
  right: 3em;
  top: 7.5em;
  transform: translate(50%, -50%);
  z-index: 99;
  width: 1px;
  height: 1px;
  transition: all 0.5s ease-in-out;
  opacity: 0.001;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 1);
  aspect-ratio: 1/1;
  pointer-events: none; 
  box-shadow: 5px 5px 50px 20px #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body[data-ready] .zoom {
  transition: none;
}
body .zoom .ol-viewport {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: min(100dvh, 100vw)!important;
  height: min(100dvh, 100vw)!important;
}
body .zoom:before {
  content: "";
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
} 
body .zoom:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0px 0px 50px 10px #000;
  z-index: 1;
  pointer-events: none;
}
.zoom button {
  width: 1em;
  height: 1em;
  position: absolute;
  bottom: 0.25em;
  left: 50%;
  background-color: #000;
  color: #fff;
  font-size: 3em;
  border-radius: 50%;
  border: 2px solid #ccc;
  cursor: pointer;
  z-index: 2;
}
.zoom button:before,
.zoom button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.5em;
  height: 0.15em;
  background-color: #fff;
  border-radius: 2px;
}
.zoom .out {
  transform: translate(-100%, 0);
}
.zoom .in:after, 
.zoom .close:after {
  width: 0.15em;
  height: 0.5em;
}
.zoom .close {
  bottom: 0;
  top: 0.25em;
  transform: translate(-50%, 0) rotate(45deg);
}

body[data-img] .zoom {
  right: 50%;
  top: 50%;
  opacity: 1;
  width: min(100dvh, 100vw);
  height: min(100dvh, 100vw);
  pointer-events: auto;
}

main section {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
main section iframe {
  width: 100%;
  height: 100%;
  border: none;
}

main section > div.validate {
  position: absolute;
  display: none;
  bottom: 0;
  width: 100%;
  margin: 0 0 0.5em;
  color: #fff;
  text-align: center;
  pointer-events: none;
}
main section > div.validate button {
  background-color: #2270ac;
  color: #fff;
  font-size: 1.5em;
  border: none;
  border-radius: 0.5em;
  padding: 0.25em 1em;
  margin: auto;
  cursor: pointer;
  box-shadow: inset 2px 2px 5px #fff, inset -2px -3px 5px #000, 1px 1px 3px 1px #000;
  pointer-events: auto;
}
main section > div.validate button:hover {
  background-color: #1a5d8c;
}
main section > div.zoomToPlay {
  content: "";
  position: absolute;
  inset: 0;
  border: 0.4em dashed #2270ac;
  pointer-events: none;
  z-index: 99;
  border-image-source: repeating-linear-gradient(45deg, rgba(34,112,172,0.8), rgb(34,112,172,0.5) 10px, rgba(255,255,0,0.5) 10px 20px);
  border-image-slice: 10;
  box-shadow: inset 0 0 10px 2px #000;
}
main section > div.zoomToPlay p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff;
  background-color: rgba(34, 112, 172, 0.8);
  font-size: 1em;
  padding: 0.25em 1em;
  border-radius: 0.5em;
  margin: 0 0 0.5em;
  animation: 1s infinite blink;
}

@keyframes blink {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0.7;
  }
}

[data-validate] main section > div.validate {
  display: block;
  text-align: center;
}
[data-validate] main section > div.zoomToPlay {
  display: none;
}

dialog {
  background-color: #2270AC;
  width: 30em;
  max-width: calc(100% - 2em);
  box-sizing: border-box;
  padding: 0 1em 1em 1em;
  overflow: hidden;
}
dialog .content {
  text-align: center;
  width: 12em;
  max-width: calc(100% - 9em);
  min-width: 8em;
  margin: 0 0 0 auto;
  padding: 2em 0;
  display: block;
  position: relative;
  box-sizing: border-box;
}
dialog h2{
  font-size: 5em;
  color: #fff;
  margin: -0.2em 0 0;
  text-align: right;
}
dialog p {
  color: #fff;
}
dialog:before {
  content: "";
  z-index: 1;
  background-image: url(./fig-2026.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 30em;
  max-width: calc(100% - 8em);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

dialog.dist button.win {
  background-color: #2ecc71;
  display: none;
}
dialog.dist[data-win] button.win {
  display: block;
}
dialog.dist button.win:hover {
  background-color: #27ae60;
}
dialog.dist button.again {
  color: #fff;
  background-color: #c31617;
}
dialog.dist button.again:hover {
  background-color: #6e1512;
}
dialog.dist[data-win] button.again {
  display: none;
}
dialog.dist p {
  font-size: 1.5em;
  margin: -0.5em 0 1em;
}
dialog.dist span {
  font-size: 1.1em;
  display: block;
  font-weight: bold;
}

dialog input {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  width: 5em;
  border-radius: 0.5em;
  border: 1px solid #ccc;
  margin: 0.5em auto;
  display: block;
  max-width: 100%;
  box-sizing: border-box;
}
dialog button {
  font-size: 1.5em;
  text-align: center;
  width: 5em;
  border-radius: 0.2em;
  border: 1px solid #ccc;
  display: block;
  margin: 0 auto;
}
dialog button:hover {
  background-color: #ddd;
  cursor: pointer;
}

dialog h2 {
  margin: 0;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.8);
}

dialog.start .next {
  display: none;
}
[data-debug] dialog.start .next {
  display: block;
  margin: .5em auto -1em;
}
dialog.start .content {
  margin-top: 0;
}
dialog.start strong {
  font-size: 2em;
  vertical-align: middle;
  line-height: 0.8em;
}
dialog.start p {
  font-size: 1.2em;
  margin: 0;
}
