.stat p,
.stat label {
  display: none;
}
.stat {
  width: calc(50% - 5em);
}
#stat2 {
  left: calc(50% - 5em);
}
.stat canvas {
  max-height: 100%;
  max-width: 100%;
  right: 0;
}

body.oneMap #map-2011 {
  display: none;
}
body.oneMap #map-2017 {
  left: 0;
  right: auto;
  width: calc(100% - 10em);
}

#volet {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 10em;
  background-color: #fff;
  text-align: center;
}
#volet h1 {
  font-size: 1.4em;
  color: #396;
}
