@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Trebuchet MS', sans-serif;
  background-color: #f1f2f6;
  color: #333;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.8);
}
dialog {
  padding: 1rem;
  max-width: calc(100% - 2em);
}
dialog.info {
  max-width: calc(100% -2em);
  box-sizing: border-box;
}
dialog.intro {
  transform: translateX(3em);
  max-width: calc(100% - 7em);
  box-sizing: border-box;
  cursor: wait;
}
dialog.intro span {
  background-color: #333;
  color: #fff;
  border-radius: 1em;
  padding: 0.5em 1em;
  margin: .5em .25em;
  display: inline-block;
  animation: 2s linear infinite pulse;
}
dialog.intro img {
  height: 1.5em;
  vertical-align: middle;
}
dialog.intro button{
  pointer-events: none;
  opacity: 0.2;
}
[data-game="ready"] dialog.intro {
  cursor: default;
}
[data-game="ready"] dialog.intro button {
  pointer-events: all;
  opacity: 1;
  cursor: pointer;
}
dialog.intro b {
  font-size: 2em;
  color: #d22;
  display: inline-block;
  margin: 0 .1em .1em;
  font-weight: bold;
  vertical-align: middle;
}
dialog.intro p,
dialog.final p,
dialog.info p {
  text-align: center;
}
dialog.final span,
dialog.info span {
  vertical-align: middle;
  background-image: linear-gradient(0deg, #444, #eee 66%, #fff 70%, #eee, #555);
  border: 1px solid #333;
  border-radius: 2px;
  margin: 0 0 .25em;
  padding: .25em .5em;
  font-size: 1.25em;
  font-weight: bold;
  display: inline-block;
  box-shadow: 1px 1px 3px #333;
  text-shadow: 1px 1px 2px #eee;
  color: #333;
}
dialog.intro a,
dialog.info a {
  color: #333;
  font-weight: bold;
  position: relative;
}
dialog.info a.question {
  display: block;
  margin: 1em auto;
  width: fit-content;
}
dialog.info a.question:after {
  content: "↗";
  text-shadow: 2px 0px #fff, -2px -1px #fff;
  margin-left: .5em;
  line-height: .8em;
  text-decoration: none;
  z-index: 1;
  display: inline-block;
  position: relative;
  padding-bottom: 0.3em;
  vertical-align: bottom;
}
dialog.info a.question:before {
  content: "";
  border: 2px solid;
  width: 0.5em;
  height: 0.5em;
  line-height: 1em;
  display: inline-block;
  position: absolute;
  right: 0.25em;
  bottom: 0.1em;
}

dialog h2 {
  margin: -1rem -1rem 1em;
  font-size: 1.5em;
  background-color: #333;
  color: #fff;
  padding: 0.5em;
}
dialog h2:before {
  content: "";
  background-image: url(./logo.svg);
  background-size: 100% 100%;
  filter: invert(1) contrast(1.5);
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  margin: 0 0.5em -0.5em 0;
}
dialog button {
  color: #fff;
  background-color: #333;
  border: 0;
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: 5px;
  margin: auto;
  display: block;
}

h1 {
  text-align: right;
  color: #fff;
  margin: 0;
}
header {
  padding: 0 2em;
  z-index: 1;
  display: block;
  background-color: #000;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #000;
}
footer {
  display: flex;
  text-align: right;
  padding: 0.5em 2em;
  background-color: #000;
  color: #fff;
  font-size: min(1em, 3vw, 2vh);
}

iframe {
  border: 0;
  width: 100%;
  height: calc(100% + 4em);
  background-color: #333;
}
main aside {
  z-index: 1;
  border: 0.5em solid #000;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  cursor: zoom-in;
}
main aside.zoom {
  width: 500px;
  height: 500px;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}
main aside.zoom .indice {
  padding-bottom: 2em;
}
main aside:hover {
  border-style: outset;
  box-shadow: 0 0 10px 5px #fff;
}
main aside iframe {
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
}
main section {
  position: relative;
  overflow: hidden;
  margin-left: 6em;
  width: calc(100% + 6em);
  height: 100%;
}
main section > button{
  position: absolute;
  bottom: 1em;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  background-color: #333;
  color: #eee;
  border: 2px solid #000;
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: 1em;
  display: none;
  cursor: pointer;
  animation: pulse 2s linear infinite;
}
[data-game="searching"] main section button.check {
  display: block;
}
[data-game="finish"] main section button.next {
  display: block;
}
main section button:hover {
  box-shadow: 0 0 5px 1px #08f!important;
  border-color: #08f!important;
}

main section > button:before,
main section > button:after {
  content: "";
  pointer-events: none;
  background-color: #0000;
  background-image: linear-gradient(0deg, #0000 4px, #000 4px 6px, #0000 6px), 
    linear-gradient(90deg, #0000 20px, #000 20px 22px, #0000 22px);
  background-position: center left;
  background-size: 60px 10px;
  width: 30px;
  height: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
[data-game] main section > button:before {
  left: 100%;
}
[data-game] main section > button:after {
  transform: translateY(-50%) scaleX(-1);
  right: 100%;
}
main aside .indice {
  position: relative;
  top: -0.75em;
  padding: 0 1em;
  cursor: default;
}
main .controls button,
main aside .indice button {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  display: inline-block;
  font-size: 1em;
  padding: 0;
  border: 0;
  box-shadow: 1px 1px 5px 2px #000;
  cursor: pointer;
}
main aside .indice button.none {
  display: none;
}

main aside .indice button:hover {
  box-shadow: 1px 1px 5px 2px #08f;
}
main aside .indice button:before {
  content: "🗝️";
  border: 0;
}
main aside .indice button.img:before {
  content: "📸";
}
main aside .indice button.zoom:before,
main aside .indice button.dezoom:before {
  content: "🔎";
}
main aside .indice button.layer:before {
  content: "📁";
}main aside h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 1;
  text-shadow: 0 0 5px #000;
}
main section span.coords {
  color: #000;
  pointer-events: none;
  text-align: right;
  margin: 3em .8em;
  font-family: Roboto Mono, monospace;
  font-size: .9em;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: scaleX(.8);
  transform-origin: 100% 0;
  background: rgba(255, 255, 255, 0.3);
  padding: 0.1em 0.5em;
  border-radius: 5px;
  text-shadow: 0 0 3px #fff, 0 0 3px #fff;
  font-weight: bold;
}
[data-coords="false"] main section span.coords {
  display: none;
}

main section .controls {
  position: fixed;
  bottom: 1em;
  left: 0;
  width: 6em;
  display: block;
  text-align: center;
}
main section .controls button {
  display: block;
  margin: 0.5em auto;
}
main section .controls button span {
  transform: scale(1.5);
  display: block;
  font-family: Georgia, Garamond, serif;
  font-weight: bold;
  color: #136;
}

main .result {
  position: absolute;
  top: -0.5em;
  left: -0.5em;
  width: calc(100% + 2em);
  min-height: calc(100% + 2em);
  max-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
  z-index: 1;
  background-color: rgba(245, 245, 255, 0.9);
  border: .5em solid #000;
  cursor: default;
}
main .result .dist {
  position: absolute;
  background-color: red;
  color: #fff;
  font-size: 1.3em;
  padding: 0.25em 0.5em;
  left: 50%;
  bottom: 0.5em;
  transform: translateX(-50%);
  white-space: nowrap;
}
main .result .info {
  max-height: calc(100vh - 6em);
  padding: 1em;
  position: relative;
  overflow-y: auto;
  box-sizing: border-box;
  margin-bottom: 3em;
}
main .result .info h2 {
  font-size: 1.2em;
  margin: 0 0 0.5em;
}
main .result p {
  margin: 0.5em 0;
}
main .result p.copy {
  text-align: center;
  font-size: 0.8em;
  margin: 0.5em 1em 1em;
  font-style: italic;
  color: #050;
}
main .result p.copy:before {
  content: '©';
  margin-right: 0.5em;
  font-style: normal;
}


main .result img {
  max-width: 100%;
  max-height: 8em;
  display: block;
  margin: auto;
}

main .result:empty {
  display: none;
}
/*
main section:before,
main section:after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  left: 0%;
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
main section:after {
  top: 0%;
  left: calc(50% - 1px);
  width: 2px;
  height: 100%;
}
*/

main aside .timer {
  background-color: #fff;
  display: inline-block;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  box-shadow: 1px 1px 5px 2px #000;
}
main aside .timer:before {
  content: '⏲️ ';
}

main > * > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 4em;
  width: 100%;
  text-align: center;
  margin: 0;
  text-shadow: 2px 2px 2px #000, -2px 2px 2px #000, -2px -2px 2px #000, 2px -2px 2px #000;
  animation: blinker 1s linear infinite;
  pointer-events: none;
  z-index: 1;
}
[data-game] main > * > p {
  display: none;
}

dialog.indice form > div {
  margin: 0.5em;
}
dialog.indice p.img {
  margin: auto;
  text-align: right;
}
dialog.indice img {
  max-width: 100%;
  max-height: calc(100vh - 20em);
}
dialog.indice a {
  font-weight: bold;
  color: #333;
}


@keyframes blinker {
  0% { opacity: 1.0; transform: translate(-50%, -50%) scale(1.1) ; }
  50% { opacity: 0.3; transform: translate(-50%, -50%) scale(1) ; }
  100% { opacity: 1.0; transform: translate(-50%, -50%) scale(1.1) ; }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 5px 1px #08f;
    border-color: #08f;
  }
  25% { 
    box-shadow: 0 0 5px 1px transparent;
    border-color: transparent;
  }
  75% { 
    box-shadow: 0 0 5px 1px transparent;
    border-color: transparent;
  }
  100% { 
    box-shadow: 0 0 5px 1px #08f;
    border-color: #08f;
 }
}
